project:
  type: website
  output-dir: _site

execute:
  freeze: auto

website:
  title: "CMMR Developer News"
  site-url: "https://cmmr.github.io/"
  navbar:
    right:
      - icon: github
        href: https://github.com/cmmr

format:
  html:
    theme:
      light: cosmo
      dark: darkly



